base58
colorama
crccheck
decorator
docstring-parser
emoji
exrex
fire
hexdump
jmespath
jsonpickle
lazy-import
lz4
msgpack
parsel
passlib
PGPy
pretty-errors
prompt_toolkit
pycipher
pycryptodome
pydash
pyjwt
pyOpenSSL
pyperclip
PyYAML
regex
setuptools
typing_extensions
